.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin-top: 60px;
}

.content {
  flex: 1 0 auto;
  width: 100%;
  padding: 6rem;
}

@media (max-width: 700px) {
  .content {
    padding: 2rem;
  }
}

.loginButton {
  background-color: var(--accent-color);
  color: var(--light-accent);
  border: 2px solid var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
}

.loginButton:hover {
  background-color: var(--secondary-color);
  color: var(--light-accent);
  border-color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  .loginButton {
    background-color: var(--primary-color);
    color: var(--light-accent);
    border-color: var(--secondary-color);
  }

  .loginButton:hover {
    background-color: var(--accent-color);
    border-color: var(--primary-color);
  }
}
