.footer {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  text-align: center;
  color: var(--light-accent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  mix-blend-mode: difference;
}

.socialLink {
  margin-top: 0.5rem;
}

.socialLink a {
  color: var(--light-accent);
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.socialLink a:hover {
  opacity: 0.8;
}

.navLinks {
  margin: 1rem 0;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.navLinks a {
  color: var(--light-accent);
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.navLinks a:hover {
  opacity: 0.8;
}

/* 
@media (prefers-color-scheme: dark) {
  .footer {
    background-color: var(--secondary-color);
    color: var(--light-accent);
  }
} */