.container {
  text-align: center;
  padding: 2rem;
  max-width: 800px;
  margin: 6rem auto 2rem;
  min-height: calc(100vh - 200px);
}

.title {
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.subtitle {
  color: var(--secondary-color);
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.notice {
  background-color: #d9dbf1;
  padding: 1.5rem;
  border-radius: 8px;
}

.notice p {
  color: var(--primary-color);
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.5;
  text-transform: uppercase;
}