
/* Footer specific styles */
footer {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  footer a {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  
  footer a:hover {
    background-color: var(--color-four);
    color: var(--color-three);
  }
  
  footer a:hover:after {
    display: none;
  }