/* web3stick css */

:root {
  
  --color-one: #DBB4DA;
  --color-two: #93C8C0;
  --color-three: #E0DFC9;
  --color-four: #798BB5;

}

/* body bg will be primarly white  */
body {
  background-color: #ffffff;
  color: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
    color: #ffffff;
  }
}



/* FONT */

body {
  font-family: "Schoolbell", serif;
  font-size: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Knewave", serif;
  margin-bottom: 0px;
}
